[data-md-color-scheme="imptox"] {
    --md-primary-fg-color:        #cd00d4;
    --md-primary-fg-color--light: #395eb4;
    --md-primary-fg-color--dark:  #395eb4;
    --md-primary-bg-color:        #395eb4;
  }